                                        <div class="col-lg-4 col-md-6 mt-30 mt-20-sm mt-15-xs aos-init" data-aos="fade-up">
                        <article class="blog-item">
                            <div>
                                <figure class="img-wp">
                                  <img src="/assets/<%=article.image%>" class="w-full" alt="location de voiture Saint Laurent du Maroni : <%=article.othertitle%> ">
                                                                            <div class="date">1 year ago</div>
                                </figure>
                                <div class="content">
                                  <h3 class="title"><%=article.title%></h3>
                                                                        <p class="txt"></p>
                                </div>
                            </div>
                            <div>
                                <div class="btn-wp text-right">
                                  <a href="/guyane/<%=article.othertitle.parameterize%>" class="btn-a small">En savoir plus</a>
                                </div>
                            </div>
                        </article>
                        <!-- /.blog-item -->
                    </div>

