                                        <div class="col-lg-4 col-sm-6 mt-30 mt-15-sm aos-init" data-aos-delay="200" data-aos="fade-down">
                        <article class="blog-item">
                            <div>
                                <figure class="img-wp">
                                                                        <img src="/assets/<%=bonplan.image%>" class="w-full" alt="location voiture Guyane pas cher">
                                                                        <div class="date">1 year ago</div>
                                </figure>
                                <div class="content">
                                    <h3 class="title"><%=bonplan.title%> </h3>
                                    <p class="txt"></p>
                                </div>
                            </div>
                            <div>
                                <div class="btn-wp text-right">
                                    <a href="/bons-plans/<%=bonplan.othertitle.parameterize%>" class="btn-a small">En savoir plus</a>
                                </div>
                            </div>
                        </article>
                        <!-- /.blog-item -->
                    </div>
