<div class="col-lg-4 col-md-6 mt-30 mt-20-sm mt-15-xs aos-init" data-aos="fade-<%=fade%>">
                        <article class="blog-item">
                            <div>
                                <figure class="img-wp">
                                  <img src="/assets/<%=bonplan.image%>" class="w-full" alt="location de voitures en Guyane ">
                                                                    </figure>
                                <div class="content">
                                    <h3 class="title">Location de voitures en Guyane à des Tarifs Low Cost</h3>
                                    <p class="txt"></p>
                                </div>
                            </div>
                            <div>
                                <div class="btn-wp text-right">
                                  <a href="<%=bplan_path(title: bonplan.othertitle.parameterize)%>" class="btn-a small">En savoir plus</a>
                                </div>
                            </div>
                        </article>
                        <!-- /.blog-item -->
                    </div>

