
    <main id="main">
        <header id="header-inner">
            <div class="container">
                <h1 class="title aos-init aos-animate" data-aos="zoom-in">Location voiture en Guyane pas cher : Bons plans ! </h1>
                                    <div class="wysiwyg-wp mt-20"><p>Découvrez ici nos bons plans et promotions du moment sur nos véhicules de location en Guyane !</p></div>
                                <div class="mt-25 aos-init aos-animate" id="resa-trigger" data-aos="fade" data-aos-delay="300">
                    <button class="btn-a large">Réserver mon véhicule</button>
                </div>
            </div>
        </header>
        <section id="resa-inner-wp">
    <form action="https://www.payless-guyane.com/reservation" method="get" id="resa-search" class="">
        <h2 class="sr-only">Réserver son véhicule</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="resa-wp">
                        <div class="row mt-10 mt-0-xs">
                            <div class="col-sm-6 pr-20 pr-15-md">
                                <label class="label" for="datepicker-start">Départ</label>
                                <div class="row">
                                    <div class="col-lg-8 col-7">
                                        <div class="datepicker-wp">
                                            <input type="text" class="form-control hasDatepicker" id="datepicker-start" name="debut_jour_at" value="08/11/2021" required=""><button type="button" class="ui-datepicker-trigger"><span class="sprite arrow-select"></span></button>
                                        </div><!-- /.datepicker-wp -->
                                    </div>
                                    <!-- /.col-lg-8 -->
                                    <div class="col-lg-4 col-5 pl-0">
                                        <div class="selectpicker-wp">
                                            <div class="dropdown bootstrap-select"><select id="hour-start" name="debut_minute_at" class="selectpicker" title="" required="" tabindex="-98">
                                                                                                                                                            <option value="00:00">
                                                            0h00
                                                        </option>
                                                                                                            <option value="00:30">
                                                            0h30
                                                        </option>
                                                                                                                                                                                                                <option value="01:00">
                                                            1h00
                                                        </option>
                                                                                                            <option value="01:30">
                                                            1h30
                                                        </option>
                                                                                                                                                                                                                <option value="02:00">
                                                            2h00
                                                        </option>
                                                                                                            <option value="02:30">
                                                            2h30
                                                        </option>
                                                                                                                                                                                                                <option value="03:00">
                                                            3h00
                                                        </option>
                                                                                                            <option value="03:30">
                                                            3h30
                                                        </option>
                                                                                                                                                                                                                <option value="04:00">
                                                            4h00
                                                        </option>
                                                                                                            <option value="04:30">
                                                            4h30
                                                        </option>
                                                                                                                                                                                                                <option value="05:00">
                                                            5h00
                                                        </option>
                                                                                                            <option value="05:30">
                                                            5h30
                                                        </option>
                                                                                                                                                                                                                <option value="06:00">
                                                            6h00
                                                        </option>
                                                                                                            <option value="06:30">
                                                            6h30
                                                        </option>
                                                                                                                                                                                                                <option value="07:00">
                                                            7h00
                                                        </option>
                                                                                                            <option value="07:30">
                                                            7h30
                                                        </option>
                                                                                                                                                                                                                <option value="08:00">
                                                            8h00
                                                        </option>
                                                                                                            <option value="08:30">
                                                            8h30
                                                        </option>
                                                                                                                                                                                                                <option value="09:00">
                                                            9h00
                                                        </option>
                                                                                                            <option value="09:30">
                                                            9h30
                                                        </option>
                                                                                                                                                                                                                <option value="10:00">
                                                            10h00
                                                        </option>
                                                                                                            <option value="10:30">
                                                            10h30
                                                        </option>
                                                                                                                                                                                                                <option value="11:00">
                                                            11h00
                                                        </option>
                                                                                                            <option value="11:30">
                                                            11h30
                                                        </option>
                                                                                                                                                                                                                <option value="12:00">
                                                            12h00
                                                        </option>
                                                                                                            <option value="12:30">
                                                            12h30
                                                        </option>
                                                                                                                                                                                                                <option value="13:00">
                                                            13h00
                                                        </option>
                                                                                                            <option value="13:30">
                                                            13h30
                                                        </option>
                                                                                                                                                                                                                <option value="14:00">
                                                            14h00
                                                        </option>
                                                                                                            <option value="14:30">
                                                            14h30
                                                        </option>
                                                                                                                                                                                                                <option value="15:00">
                                                            15h00
                                                        </option>
                                                                                                            <option value="15:30">
                                                            15h30
                                                        </option>
                                                                                                                                                                                                                <option value="16:00" selected="">
                                                            16h00
                                                        </option>
                                                                                                            <option value="16:30">
                                                            16h30
                                                        </option>
                                                                                                                                                                                                                <option value="17:00">
                                                            17h00
                                                        </option>
                                                                                                            <option value="17:30">
                                                            17h30
                                                        </option>
                                                                                                                                                                                                                <option value="18:00">
                                                            18h00
                                                        </option>
                                                                                                            <option value="18:30">
                                                            18h30
                                                        </option>
                                                                                                                                                                                                                <option value="19:00">
                                                            19h00
                                                        </option>
                                                                                                            <option value="19:30">
                                                            19h30
                                                        </option>
                                                                                                                                                                                                                <option value="20:00">
                                                            20h00
                                                        </option>
                                                                                                            <option value="20:30">
                                                            20h30
                                                        </option>
                                                                                                                                                                                                                <option value="21:00">
                                                            21h00
                                                        </option>
                                                                                                            <option value="21:30">
                                                            21h30
                                                        </option>
                                                                                                                                                                                                                <option value="22:00">
                                                            22h00
                                                        </option>
                                                                                                            <option value="22:30">
                                                            22h30
                                                        </option>
                                                                                                                                                                                                                <option value="23:00">
                                                            23h00
                                                        </option>
                                                                                                            <option value="23:30">
                                                            23h30
                                                        </option>
                                                                                                                                                </select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox" aria-expanded="false" data-id="hour-start" title="16h00"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">16h00</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-1" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                                        </div><!-- /.selectpicker-wp -->
                                    </div>
                                    <div class="col-12 mt-10">
                                        <div class="selectpicker-wp">
                                            <div class="dropdown bootstrap-select"><select id="place" name="debut_lieu_id" class="selectpicker" title="" required="" tabindex="-98">
                                                                                                    <option value="1" selected="">Cayenne centre, zone Galmot</option>
                                                                                                    <option value="2">Saint Laurent du Maroni</option>
                                                                                            </select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-2" aria-haspopup="listbox" aria-expanded="false" data-id="place" title="Cayenne centre, zone Galmot"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Cayenne centre, zone Galmot</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-2" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div><!-- .selectpicker -->
                                        </div><!-- /.selectpicker-wp -->
                                    </div>
                                    <!-- /.col-12 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.col-sm-6 -->
                            <div class="col-sm-6 pl-20 pl-15-md mt-10-xs">
                                <label class="label" for="datepicker-end">Retour</label>
                                <div class="row">
                                    <div class="col-lg-8 col-7">
                                        <div class="datepicker-wp">
                                            <input type="text" class="form-control hasDatepicker" id="datepicker-end" name="fin_jour_at" value="15/11/2021" required=""><button type="button" class="ui-datepicker-trigger"><span class="sprite arrow-select"></span></button>
                                        </div><!-- /.datepicker-wp -->
                                    </div>
                                    <!-- /.col-lg-8 -->
                                    <div class="col-lg-4 col-5 pl-0">
                                        <div class="selectpicker-wp">
                                            <div class="dropdown bootstrap-select"><select id="hour-end" name="fin_minute_at" class="selectpicker" title="" required="" tabindex="-98">
                                                                                                                                                            <option value="00:00">
                                                            0h00
                                                        </option>
                                                                                                            <option value="00:30">
                                                            0h30
                                                        </option>
                                                                                                                                                                                                                <option value="01:00">
                                                            1h00
                                                        </option>
                                                                                                            <option value="01:30">
                                                            1h30
                                                        </option>
                                                                                                                                                                                                                <option value="02:00">
                                                            2h00
                                                        </option>
                                                                                                            <option value="02:30">
                                                            2h30
                                                        </option>
                                                                                                                                                                                                                <option value="03:00">
                                                            3h00
                                                        </option>
                                                                                                            <option value="03:30">
                                                            3h30
                                                        </option>
                                                                                                                                                                                                                <option value="04:00">
                                                            4h00
                                                        </option>
                                                                                                            <option value="04:30">
                                                            4h30
                                                        </option>
                                                                                                                                                                                                                <option value="05:00">
                                                            5h00
                                                        </option>
                                                                                                            <option value="05:30">
                                                            5h30
                                                        </option>
                                                                                                                                                                                                                <option value="06:00">
                                                            6h00
                                                        </option>
                                                                                                            <option value="06:30">
                                                            6h30
                                                        </option>
                                                                                                                                                                                                                <option value="07:00">
                                                            7h00
                                                        </option>
                                                                                                            <option value="07:30">
                                                            7h30
                                                        </option>
                                                                                                                                                                                                                <option value="08:00">
                                                            8h00
                                                        </option>
                                                                                                            <option value="08:30">
                                                            8h30
                                                        </option>
                                                                                                                                                                                                                <option value="09:00">
                                                            9h00
                                                        </option>
                                                                                                            <option value="09:30">
                                                            9h30
                                                        </option>
                                                                                                                                                                                                                <option value="10:00">
                                                            10h00
                                                        </option>
                                                                                                            <option value="10:30">
                                                            10h30
                                                        </option>
                                                                                                                                                                                                                <option value="11:00">
                                                            11h00
                                                        </option>
                                                                                                            <option value="11:30">
                                                            11h30
                                                        </option>
                                                                                                                                                                                                                <option value="12:00">
                                                            12h00
                                                        </option>
                                                                                                            <option value="12:30">
                                                            12h30
                                                        </option>
                                                                                                                                                                                                                <option value="13:00">
                                                            13h00
                                                        </option>
                                                                                                            <option value="13:30">
                                                            13h30
                                                        </option>
                                                                                                                                                                                                                <option value="14:00">
                                                            14h00
                                                        </option>
                                                                                                            <option value="14:30">
                                                            14h30
                                                        </option>
                                                                                                                                                                                                                <option value="15:00">
                                                            15h00
                                                        </option>
                                                                                                            <option value="15:30">
                                                            15h30
                                                        </option>
                                                                                                                                                                                                                <option value="16:00" selected="">
                                                            16h00
                                                        </option>
                                                                                                            <option value="16:30">
                                                            16h30
                                                        </option>
                                                                                                                                                                                                                <option value="17:00">
                                                            17h00
                                                        </option>
                                                                                                            <option value="17:30">
                                                            17h30
                                                        </option>
                                                                                                                                                                                                                <option value="18:00">
                                                            18h00
                                                        </option>
                                                                                                            <option value="18:30">
                                                            18h30
                                                        </option>
                                                                                                                                                                                                                <option value="19:00">
                                                            19h00
                                                        </option>
                                                                                                            <option value="19:30">
                                                            19h30
                                                        </option>
                                                                                                                                                                                                                <option value="20:00">
                                                            20h00
                                                        </option>
                                                                                                            <option value="20:30">
                                                            20h30
                                                        </option>
                                                                                                                                                                                                                <option value="21:00">
                                                            21h00
                                                        </option>
                                                                                                            <option value="21:30">
                                                            21h30
                                                        </option>
                                                                                                                                                                                                                <option value="22:00">
                                                            22h00
                                                        </option>
                                                                                                            <option value="22:30">
                                                            22h30
                                                        </option>
                                                                                                                                                                                                                <option value="23:00">
                                                            23h00
                                                        </option>
                                                                                                            <option value="23:30">
                                                            23h30
                                                        </option>
                                                                                                                                                </select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-3" aria-haspopup="listbox" aria-expanded="false" data-id="hour-end" title="16h00"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">16h00</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-3" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                                        </div><!-- /.selectpicker-wp -->
                                    </div>
                                    <div class="col-12 mt-10">
                                        <div class="selectpicker-wp">
                                            <div class="dropdown bootstrap-select"><select id="place_fin" name="fin_lieu_id" class="selectpicker" title="" required="" tabindex="-98">
                                                                                                    <option value="1" selected="">Cayenne centre, zone Galmot</option>
                                                                                                    <option value="2">Saint Laurent du Maroni</option>
                                                                                            </select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-4" aria-haspopup="listbox" aria-expanded="false" data-id="place_fin" title="Cayenne centre, zone Galmot"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Cayenne centre, zone Galmot</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-4" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div><!-- .selectpicker -->
                                        </div><!-- /.selectpicker-wp -->
                                    </div>
                                    <!-- /.col-12 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.col-sm-6 -->
                        </div>
                        <!-- /.row -->
                        <div class="btn-wp mt-20 text-center">
                            <button type="submit" class="btn-a large">Voir les véhicules disponibles</button>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </form>
</section>
<!-- /#resa-inner-wp -->        <!-- /#slick-blog-wp -->
        <div class="bg-gy-a pv-50 pv-30-sm pv-20-xs">
            <div class="container">
                <div class="row">
                  <%@bonplans.each_with_index do |bonplan,i|%>
                    <%=render 'bonsplans/bonplanlist', bonplan: bonplan, fade: (i.even? ? 'up' : 'down')%>
                  <%end%>
                    <!-- /.col-lg-4 -->
                    <!-- /.col-lg-4 -->
                                    </div>
                <!-- /.row -->
            </div>
            <div class="mt-30">
                
            </div>
        </div>
        <!-- /.bg-gy-a -->
    </main><!-- #main-->
